001. 화면에 Hello World 문자열을 출력하세요.

In [1]:
print("Hello World")

Hello World

2. 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [3]:
print("Mary's cosmetics")

Mary's cosmetics

3. 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)<br>신씨가 소리질렀다. "도둑이야".

In [5]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

4. 화면에 C:\Windows를 출력하세요.

In [7]:
print("C:\Windows")

C:\Windows

5. 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요. <br>

print("안녕하세요.\n만나서\t\t반갑습니다.")

In [9]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

\t는띄어쓰기, \n은 줄바꿈

6. print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다. <br> print ("오늘은", "일요일")

In [8]:
print("오늘은","일요일")

오늘은 일요일

7. print() 함수를 사용하여 다음과 같이 출력하세요.

naver;kakao;sk;samsung

In [10]:
print("naver;","kakao;","samsung")

naver; kakao; samsung

*해설<br>print 함수의 sep 인자로 ";"를 입력하면 출력되는 값들 사이에 한 칸의 공백대신 세미콜론이 출력됩니다.<br>
print("naver", "kakao", "samsung", sep=";")

8. print() 함수를 사용하여 다음과 같이 출력하세요.

naver/kakao/sk/samsung

In [11]:
print("naver","kakao","sk", "samsung", sep = "/")

naver/kakao/sk/samsung

9. 다음 코드를 수정하여 줄바꿈이 없이 출력하세요.<br> (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.<br>

print("first");print("second")

In [12]:
print("first");print("second")

first
second

*해설<br>print("first", end=""); print("second")
<br>
아래 print 함수 설명(15번째줄) 참고 <br>
print함수는 끝날때마다 \n을 자동 출력해주는데, \n은 줄바꿈 기능이다. <br>
그러므로 end=""라고 이를 대체해주는 것이다.

In [13]:
print("first", end=""); print("second")

firstsecond

In [15]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

10. 5/3의 결과를 화면에 출력하세요.

11.
삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [18]:
삼성전자 = 500000
총평가금액 = 삼성전자 * 10
총평가금액

5000000

12. 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.|
```15.79

In [16]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

음.. 12번은 아예 문제와 해설을 모두 이해할 수 없음 ㅠㅠ

13. 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다. <br>
> s = "hell <br>o>> t = "pyth <br>on"
두 변수를 이용하여 아래와 같이 출력해 <br>보세요.
 <br>
실행 예:
hello! python

In [3]:
s = "hello"
t = "python"
print(s+"! "+t)

hello! python

14. 아래 코드의 실행 결과를 예상해보세요.> 2 + 2 * 3

In [4]:
2 + 2 * 3

8

In [8]:
a = 128print(type(a))

<class 'int'>

In [10]:
a = "132"
print(type(a))

<class 'str'>

In [12]:
# 17. 정수 100을 문자열 '100'으로 변환해보세요.

str(100)

'100'

In [14]:
# 18. 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

float("15.79")

15.79

In [26]:
# 19. year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"
int(year)

2020

In [31]:
print(int(year))
print(int(year)+1)
print(int(year)+2)

2020
2021
2022

In [43]:
# 20. 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)
월할부금액 = 48584
총금액 = 월할부금액 * 36
print(총금액)

1749024

In [47]:
# 21. letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요. letters = 'python'
Letters = 'python'
print(Letters[0], Letters[3])

p h

In [49]:
# 22. 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요. license_plate = "24가 2210"

license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [51]:
# 23. 아래의 문자열에서 '홀' 만 출력하세요.  string = "홀짝홀짝홀짝"

string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [1]:
#24. 문자열을 거꾸로 뒤집어 출력하세요.  string = "PYTHON"

string = "PYTHON"
string[::-1]

'NOHTYP'

In [9]:
# 25. 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요. phone_number = "010-1111-2222"

phone_number = "010-1111-2222"
a = phone_number.replace("-"," ")
a

'010 1111 2222'

In [10]:
#26. 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요. 실행 예 01011112222

phone_number = "010-1111-2222"
a = phone_number.replace("-","")
a

'01011112222'

In [15]:
#  27. url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요. url = "http://sharebook.kr"

url = "http://sharebook.kr"
a = url.split('.')
print(a[-1])

kr

In [16]:
#28. 아래 코드의 실행 결과를 예상해보세요. 

lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [18]:
#29. 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

string = 'abcdfe2a354a32a'
a = string.replace('a', 'A')
a

'Abcdfe2A354A32A'

In [19]:
# 30. 아래 코드의 실행 결과를 예상해보세요.

string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [20]:
#31. 아래 코드의 실행 결과를 예상해보세요.

a = "3"
b = "4"
print(a + b)

34

In [21]:
#32. 아래 코드의 실행 결과를 예상해보세요.

print("Hi" * 3)

HiHiHi

In [23]:
# 33. 문자열 곱하기 : 화면에 '-'를 80개 출력하세요.

print('-' * 80)

--------------------------------------------------------------------------------

In [29]:
#34. 변수에 다음과 같은 문자열이 바인딩되어 있습니다. 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
# 실행 예: python java python java python java python java

t1 = 'python'
t2 = 'java'

a = t1 + " " + t2 + " "
a
print(a * 4)

python java python java python java python java

In [ ]:
#35. 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
# 81. my_variable 이름의 비어있는 튜플을 만들라.